<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIAppFonts</key>
	<array>
		<string>CabinetGrotesk-Black.otf</string>
		<string>CabinetGrotesk-Bold.otf</string>
		<string>CabinetGrotesk-Extrabold.otf</string>
		<string>CabinetGrotesk-Extralight.otf</string>
		<string>CabinetGrotesk-Light.otf</string>
		<string>CabinetGrotesk-Medium.otf</string>
		<string>CabinetGrotesk-Regular.otf</string>
		<string>CabinetGrotesk-Thin.otf</string>
		<string>SFProText-Bold.ttf</string>
		<string>SFProText-BoldItalic.ttf</string>
		<string>SFProText-Heavy.ttf</string>
		<string>SFProText-HeavyItalic.ttf</string>
		<string>SFProText-Light.ttf</string>
		<string>SFProText-Medium.ttf</string>
		<string>SFProText-MediumItalic.ttf</string>
		<string>SFProText-Regular.ttf</string>
		<string>SFProText-RegularItalic.ttf</string>
		<string>SFProText-Semibold.ttf</string>
		<string>SFProText-SemiboldItalic.ttf</string>
	</array>
</dict>
</plist>
